# Leiningen
target/
classes/
checkouts/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.nrepl-history

# REPL
.cpcache/
.socket-repl-port

# Editors
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store

# Build artifacts
/lib/
/out/
/.cljs_node_repl/